.news-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}
.button {
    margin: 10px 0;
}
.link {
    text-decoration: none;
    color: white;
}
.back-link {
    margin: 10px 0;
}
.news_text {
    max-width: 50%;
}

.text_comments {
    font-weight: bold;
    max-width: 50%;
}
.flex-button {
    display: flex;
    gap: 25px;
    margin: 10px;
}
.dit-news_link {
    text-decoration: none;
    color: dodgerblue;
    font-size: 25px;
}